@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = null;

    var path = Context?.Request?.Path.ToString().ToLowerInvariant() ?? "/";

    var currentLangCode = "en";
    var currentLangName = "English";
    var currentLangFlag = "/assets/images/icons/country/USA.svg";

    if (path.StartsWith("/ua/") || path.Equals("/ua"))
    {
        currentLangCode = "ua";
        currentLangName = "Українська";
        currentLangFlag = "/assets/images/icons/country/Ukraine.svg";
    }
    else if (path.StartsWith("/ru/") || path.Equals("/ru"))
    {
        currentLangCode = "ru";
        currentLangName = "Русский";
        currentLangFlag = "/assets/images/icons/country/Russia.svg";
    }
    else if (path.StartsWith("/he/") || path.Equals("/he"))
    {
        currentLangCode = "he";
        currentLangName = "ע\u05b4בר\u05b4ית";
        currentLangFlag = "/assets/images/icons/country/Israel.svg";
    }
    var hebrew = "ע\u05b4בר\u05b4ית";
}



<!DOCTYPE html>
<html lang="@currentLangCode" dir="@(currentLangCode == "he" ? "rtl" : "ltr")">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Custom AI software, CRM systems, SaaS platforms, and enterprise solutions. Mekashron brings 20+ years of development experience to scalable, secure, and reliable digital products">
    <title>@Model.Value("titleText")</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/style.css?v=221225">
    <style>
        .sub-menu {
            text-align: left;
            padding-left: 0;
            list-style: none;
        }
        .sub-menu .menu-item {
            padding-left: 0;
            margin-left: 0;
        }
        .sub-menu .menu-item a {
            display: block;
            padding-left: 10px;
            text-align: left;
        }
        body:lang(he) {
            font-family: "Noto Sans Hebrew", sans-serif;
            letter-spacing: 0.8px;
        }
    </style>
</head>

<body>
<div class="site" id="page">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <button class="burger" id="burgerButton">
                    <img src="/assets/images/icons/burger.svg" alt="menu">
                </button>

                <a href="/" class="logo">
                    @if (currentLangCode == "he")
                    {
                        @:<text>מקשרון</text>
                    }
                    else
                    {
                        @:<text>Mekashron</text>
                    }
                </a>

                <nav class="header__navigation navigation">
                    <ul class="navigation__list">
                        <li class="menu-item menu-item-has-children">
                            <a>@Model.Value("products")</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="/blog/en/page/Business-CRM">@Model.Value("crmbusiness")</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog/en/page/Call-Center-CRM">@Model.Value("crmcall")</a>
                                </li>
                                <li class="menu-item">
                                    @if(currentLangCode == "he"){
                                    <a href="https://www.zmenu.net/he/POS-for-a-retailers">@Model.Value("posretailers")</a>
                                    }
                                    else{
                                    <a href="https://www.zmenu.net/POS-for-a-retailers">@Model.Value("posretailers")</a>
                                    }
                                </li>
                                <li class="menu-item">
                                    @if(currentLangCode == "he"){
                                    <a href="https://www.zmenu.net/he/POS-for-a-restaurant">@Model.Value("posrestaurant")</a>
                                    }
                                    else{
                                    <a href="https://www.zmenu.net/POS-for-a-restaurant">@Model.Value("posrestaurant")</a>
                                    }
                                </li>
                                <li class="menu-item">
                                    <a href="/blog/en/page/Cheque-printing-software">@Model.Value("cheque")</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="/blog/en/page/solutions">@Model.Value("solutions")</a>
                        </li>
                        <li class="menu-item">
                            <a href="/blog/en/page/prices">@Model.Value("prices")</a>
                        </li>
                        <li class="menu-item">
                            <a href="/blog/en/page/about-us">@Model.Value("about")</a>
                        </li>
                        <li class="menu-item">
                            <a href="/blog/en/page/contactus">@Model.Value("contacts")</a>
                        </li>
                    </ul>
                </nav>

                <div class="header__actions row">
                    <a href="/blog/en/page/contactus" class="button">@Model.Value("getInTouch")</a>
                </div>
            </div>
        </div>
    </header>

    <div class="mobile__nav">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <button class="icon close" id="closeMenu" aria-label="Close menu">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12.0001 9.8183L2.18182 0L0 2.18182L9.8183 12.0001L0.000232995 21.8182L2.18205 24L12.0001 14.1819L21.8182 24L24 21.8182L14.1819 12.0001L24.0002 2.18182L21.8184 1.07288e-06L12.0001 9.8183Z"
                                  fill="white"/>
                        </svg>
                    </button>

                    <a href="/" class="logo">
                        @if (currentLangCode == "he")
                        {
                        @:<text>מקשרון</text>
                        }
                        else
                        {
                        @:<text>Mekashron</text>
                        }
                        </a>

                    <div class="header__actions row">
                        <a href="/blog/en/page/contactus" class="button">@Model.Value("getInTouch")</a>
                    </div>
                </div>
            </div>
        </header>

        <nav class="nav" role="navigation" aria-label="mobile navigation">
            <ul class="navigation__list">
                <li class="menu-item menu-item-has-children">
                    <a href="#">@Model.Value("products")</a>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="/blog/en/page/Business-CRM">@Model.Value("crmbusiness")</a>
                        </li>
                        <li class="menu-item">
                            <a href="/blog/en/page/Call-Center-CRM">@Model.Value("crmcall")</a>
                        </li>
                        <li class="menu-item">
                            @if(currentLangCode == "he"){
                            <a href="https://www.zmenu.net/he/POS-for-a-retailers">@Model.Value("posretailers")</a>
                            }
                            else{
                            <a href="https://www.zmenu.net/POS-for-a-retailers">@Model.Value("posretailers")</a>
                            }
                        </li>
                        <li class="menu-item">
                            @if(currentLangCode == "he"){
                            <a href="https://www.zmenu.net/he/POS-for-a-restaurant">@Model.Value("posrestaurant")</a>
                            }
                            else{
                            <a href="https://www.zmenu.net/POS-for-a-restaurant">@Model.Value("posrestaurant")</a>
                            }
                        </li>
                        <li class="menu-item">
                            <a href="/blog/en/page/Cheque-printing-software">@Model.Value("cheque")</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="/blog/en/page/solutions">@Model.Value("solutions")</a>
                </li>
                <li class="menu-item">
                    <a href="/blog/en/page/prices">@Model.Value("prices")</a>
                </li>
                <li class="menu-item">
                    <a href="/blog/en/page/about-us">@Model.Value("about")</a>
                </li>
                <li class="menu-item">
                    <a href="/blog/en/page/contactus">@Model.Value("contacts")</a>
                </li>
            </ul>
        </nav>
    </div>

    <main class="main" id="primary">
        <section class="hero" data-mobile-bg="" data-desktop-bg="/assets/images/hero.png">
            <div class="container">
                <h1 style="text-align: center;">
                    @Html.Raw(Model.Value("containerHeader"))
                </h1>
                <p style="text-align: center;">
                    @Html.Raw(Model.Value("containerText"))
                </p>
                <div class="buttons">
                    <a href="/blog/en/page/solutions" class="button">@Model.Value("exploreSolutions")</a>
                    <a href="/blog/en/page/contactus" class="button button--dark">@Model.Value("getInTouch")</a>
                </div>
            </div>
        </section>

        <section class="expertise">
            <div class="container">
                <h2>@Model.Value("ourExpertise")</h2>
                <ul class="expertise__list">
                    <li>
                        <div class="row">
                            <img src="/assets/images/icons/expertise/ai.svg" alt="ai">
                            <h3>@Model.Value("platformDevelopment")</h3>
                        </div>
                        <p>@Model.Value("customSystems")</p>
                        <a href="/blog/en/page/Platform-Development" class="link">@Model.Value("learnMore")</a>
                    </li>
                    <li>
                        <div class="row">
                            <img src="/assets/images/icons/expertise/solution.svg" alt="solution">
                            <h3>@Model.Value("enterpriseSolutions")</h3>
                        </div>
                        <p>@Model.Value("reliableSystems")</p>
                        <a href="/blog/en/page/Enterprise-Solutions" class="link">@Model.Value("learnMore")</a>
                    </li>
                    <li>
                        <div class="row">
                            <img src="/assets/images/icons/expertise/gaming.svg" alt="gaming">
                            <h3>@Model.Value("gaming")</h3>
                        </div>
                        <p>@Model.Value("iGaming")</p>
                        <a href="/blog/en/page/Gaming-Entertainment" class="link">@Model.Value("learnMore")</a>
                    </li>
                    <li>
                        <div class="row">
                            <img src="/assets/images/icons/expertise/apps.svg" alt="apps">
                            <h3>@Model.Value("customApps")</h3>
                        </div>
                        <p>@Model.Value("tailor")</p>
                        <a href="/blog/en/page/Custom-Apps" class="link">@Model.Value("learnMore")</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="products">
            <div class="container">
                <h2>@Model.Value("ourProducts")</h2>
                <ul class="products__list">
                    <li>
                        <img src="/assets/images/products/profichat.png" alt="Profichat.net">
                        <div class="content">
                            <h3>Profichat.net</h3>
                            <p>@Model.Value("profichat")</p>
                            <div class="buttons">
                                @if(currentLangCode == "he"){
                                <a href="https://www.profichat.net/he" class="button button--dark">@Model.Value("learnMore")</a>
                                }
                                else{
                                <a href="https://www.profichat.net" class="button button--dark">@Model.Value("learnMore")</a>
                                }
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/products/zmenu.png" alt="ZMenu.net">
                        <div class="content">
                            <h3>ZMenu.net</h3>
                            <p>@Model.Value("zmenu")</p>
                            <div class="buttons">
                                @if(currentLangCode == "he"){
                                    <a href="https://www.zmenu.net/he" class="button button--dark">@Model.Value("learnMore")</a>
                                }
                                else{
                                    <a href="https://www.zmenu.net" class="button button--dark">@Model.Value("learnMore")</a>
                                }
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/products/mekashron.png" alt="Mekashron CRM">
                        <div class="content">
                            <h3>Mekashron CRM</h3>
                            <p>@Model.Value("crm")</p>
                            <div class="buttons">
                                <a href="download/callcenterV7" class="button button--accent">@Model.Value("downloadButton")</a>
                                @*<a href="/blog/@currentLangCode" class="link">@Model.Value("learnMore")</a>*@
                                <a href="/blog/en" class="link">@Model.Value("learnMore")</a>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <h2>@Model.Value("industriesWeServe")</h2>
                        <ul class="about__list">
                            <li>
                                <img src="/assets/images/serve/ai.svg" alt="AI and SaaS">
                                <h3>@Model.Value("aisaas")</h3>
                            </li>
                            <li>
                                <img src="/assets/images/serve/cart.svg" alt="Retail and Hospitality">
                                <h3>@Model.Value("retail")</h3>
                            </li>
                            <li>
                                <img src="/assets/images/serve/gaming.svg" alt="iGaming">
                                <h3>@Model.Value("igaming2")</h3>
                            </li>
                            <li>
                                <img src="/assets/images/serve/bag.svg" alt="Enterprises">
                                <h3>@Model.Value("enterprises")</h3>
                            </li>
                        </ul>
                    </div>

                    <div class="column">
                        <h2>@Model.Value("aboutMekashron")</h2>
                        <p style="@(currentLangCode == "he" ? "text-align: right;" : "text-align: left;")">
                            @Model.Value("description")
                        </p>
                        <a href="/blog/en/page/about-us" class="button button--accent">@Model.Value("aboutUs")</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="platform" data-mobile-bg="" data-desktop-bg="/assets/images/platform.png">
            <div class="container">
                <h2 style="text-align: center;">@Model.Value("readyToBuild")</h2>
                <p style="text-align: center;">@Model.Value("tellUs")</p>
                <a href="/blog/en/page/contactus" class="button">@Model.Value("getInTouch")</a>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="column">
                    <a href="/" class="logo">
                        @if (currentLangCode == "he")
                        {
                        @:<text>מקשרון</text>
                        }
                        else
                        {
                        @:<text>Mekashron</text>
                        }
                        </a>
                    <p>
                        @Html.Raw(Model.Value("footerText"))
                    </p>
                </div>

                <div class="column">
                    <div class="footer__actions">
                        <nav class="footer__nav">
                            <ul class="footer__nav--list">
                                <li class="menu-item">
                                    <a href="/blog/en/page/jobs">@Model.Value("jobs")</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog/en/page/solutions">@Model.Value("solutions")</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog/en/page/about-us">@Model.Value("about")</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog/en/page/industries">@Model.Value("industries")</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog/en/page/contactus">@Model.Value("contacts")</a>
                                </li>
                            </ul>
                        </nav>

                        <!-- Группируем WhatsApp и переключатель языка -->
                        <div class="footer__contact-language">
                            <nav class="footer__links">
                                <ul class="footer__links--list">
                                    <li>
                                        <a href="https://wa.me/97235603536" target="_blank" rel="noopener">
                                            <img src="/assets/images/icons/whatsapp-icon.svg" alt="WhatsApp">
                                            @Model.Value("contactUs")
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                            <button class="language" id="language_btn" type="button">
                                <ul id="language-menu" class="language__list">
                                    <li id="menu-item-113">
                                        <a style="position: relative; width: 100%; padding: 0 !important;">
                                            @if (currentLangCode == "he")
                                            {
                                                <img src="@currentLangFlag" alt="@currentLangName" width="16" height="11"
                                                     style="position: absolute; right: -30px; top: 50%; transform: translateY(-50%);" />
                                                <span style="position: absolute; right: -5px; top: 50%; transform: translateY(-50%);">@currentLangName</span>
                                            }
                                            else
                                            {
                                                <img src="@currentLangFlag" alt="@currentLangName" width="16" height="11" />
                                                <span>@currentLangName</span>
                                            }
                                        </a>

                                        <ul class="sub-menu">
                                            <li class="@(currentLangCode == "en" ? "is-active" : "")">
                                                <a data-lang-code="en" class="@(currentLangCode == "he" ? "rtl-item" : "")">
                                                    <img src="/assets/images/icons/country/USA.svg" alt="USA" width="16" height="11"/>
                                                    <span>English</span>
                                                </a>
                                            </li>
                                            <li class="@(currentLangCode == "he" ? "is-active" : "")">
                                                <a data-lang-code="he" class="@(currentLangCode == "he" ? "rtl-item" : "")">
                                                    <img src="/assets/images/icons/country/Israel.svg" alt="Hebrew" width="16" height="11" />
                                                    <span>@hebrew</span>
                                                </a>
                                            </li>
                                            <li class="@(currentLangCode == "ru" ? "is-active" : "")">
                                                <a data-lang-code="ru" class="@(currentLangCode == "he" ? "rtl-item" : "")">
                                                    <img src="/assets/images/icons/country/Russia.svg" alt="Russia" width="16" height="11" />
                                                    <span>Русский</span>
                                                </a>
                                            </li>
                                            <li class="@(currentLangCode == "ua" ? "is-active" : "")">
                                                <a data-lang-code="ua" class="@(currentLangCode == "he" ? "rtl-item" : "")">
                                                    <img src="/assets/images/icons/country/Ukraine.svg" alt="Ukraine" width="16" height="11" />
                                                    <span>Українська</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copy">
                <p>@Model.Value("copyright")</p>
            </div>
        </div>
    </footer>
</div>

<script src="/assets/js/jquery-3.7.1.min.js"></script>
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/select.js"></script>
<script src="/assets/js/scripts171225.js"></script>
</body>
</html>
